header{
    color: blueviolet;
}

body{
    background-image: url(https://scontent-msp1-1.xx.fbcdn.net/v/t1.0-9/10401220_535326061970_5789_n.jpg?_nc_cat=108&_nc_sid=cdbe9c&_nc_ohc=dgq-Otg3bu4AX8QZsrG&_nc_ht=scontent-msp1-1.xx&oh=ed76568878bd6e5797ebe8e9b09fd94a&oe=5F5578F7);
    image-size: 
}

